

<aside>
    <form action="/pokedex/procesarBusqueda" method="GET">
        <input type="text"  name="busqueda" placeholder="Ingrese nombre, tipo o número de Pokemón">
        <button>Buscar</button>
    </form>
</aside>
<section>

    // Mostrar resultados en la tabla
    <table>
        <tr>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Número</th>
            <th>Nombre</th>
            <th>Mas info</th>
            <th>Acciones</th>
        </tr>

    <tr>
        <td> <img src="/public/{{imagen}}"  width="150px"> </td>
        <td> <img src="/public/{{tipo1}}"  width="150px"> </td>

        echo "<td>" . $row["numero_id"] . "</td>
        echo "<td>" . $row["nombre"] . "</td>";
        echo "<td>". "<form action='info-pokedex.php' method='get'>". "<input type='hidden' name='id' value={$row['id']}>"." <input class='btn-success' type='submit' value='mas info'> "."</form>"  ."</td>";
        echo "<td>";
            echo "<button type='button' class='btn btn-primary'>
                <a href='modificar-pokemon.php?id={$row['id']}' style='color: white'>Modificar</a>
            </button>";

            // Dar de baja al Pokemon seleccionado
            echo "<form action='eliminar-pokemon.php' method='post'>";
                echo "<input type='hidden' name='nombre_pokemon' value=" . $row['nombre'] . ">";
                echo "<button type='submit' class='btn btn-danger'>Baja</button>";
                echo "</form>";
            echo "</td>";

        }
        echo "</table>";

    }else{
    echo "No se encontraron pokemons";

    $query = "SELECT * FROM pokemon";
    $resultado = mysqli_query($conexion, $query);

    // Mostrar resultados en la tabla
    echo "<table>";
    echo "<thead>
    <tr>
        <th>Imagen</th>
        <th>Tipo</th>
        <th>Número</th>
        <th>Nombre</th>
        <th>Mas info</th>
        <th>Acciones</th>
    </tr>
    </thead>";//En la primera fila

    while($row = mysqli_fetch_assoc($resultado)) {

    echo "<tr>";
        echo "<td> <img src=". $row["imagen"] . " width=150px> </td>";
        echo "<td> <img src=". $row["tipo1"] . " width=150px> </td>";
        echo "<td>" . $row["numero_id"] . "</td>";
        echo "<td>" . $row["nombre"] . "</td>";
        echo "<td>". "<form action='info-pokedex.php' method='get'>". "<input type='hidden' name='id' value={$row['id']}>"." <input style='background: transparent; '  type='submit' value='mas info'> "."</form>"  ."</td>";
        echo "<td><button type='button' class='btn btn-primary'>Modificacion</button>
            <button type='button' class='btn btn-danger'>Bajar</button></td>";
        echo "</tr>";
    }

    echo "</table>";

    }

    echo "<button type='button' class='btn btn-success'>
    <a href='nuevoPokemon.php' style='color: white' > Nuevo Pokemon </a>
</button>";

    mysqli_close($conexion);


    ?>

</section>