
<aside>
    <form action="/pokedex/procesarBusqueda" method="GET">
        <input type="text"  name="busqueda" placeholder="Ingrese nombre, tipo o número de Pokemón">
        <button>Buscar</button>
    </form>
</aside>

<section>
    <table>
        <tr>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Número</th>
            <th>Nombre</th>
            <th>Mas info</th>

        </tr>
       {{#pokemon}}
            <tr>
                <td> <img src="/public/{{imagen}}" width= "150px"> </td>
                <td> <img src="/public/{{tipo1}}" width= "150px"> </td>
                <td>{{numero_id}}</td>
                <td>{{nombre}}</td>
                <td>
                    <a href="/pokedex/info_pokedex?id={{id}}">Mas info</a>
                </td>
            </tr>
       {{/pokemon}}
    </table>
</section>


</main>